<div class="top-wrapper">
  <div class="top-inner-text">
    <div class="mb-5">
      <h4>ベーグル食べたくありませんか?</h4>
    </div>
    <%= link_to "現在地付近のお店を探す", bagel_shops_path, class: 'btn btn-custom btn-lg p-3' %>
    <p class="fs-6">このアプリは身近のベーグル専門店を探すアプリです</p>
  </div>
</div>
