.top-wrapper {
  background-image: url('top_image.jpg');
  background-size: 100% auto;
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;

  .top-inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;

    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }
  }
}

.btn-custom {
  background-color: #A9907E;
  color: white; /* ボタンの文字色を白に設定 */
  border: none; /* ボーダーをなくす */
  padding: 0.5rem 1rem; /* パディングを設定 */
  border-radius: 0.25rem; /* 角を丸くする */
  text-align: center; /* テキストを中央揃えにする */
  text-decoration: none; /* テキストの下線をなくす */
  display: inline-block; /* インラインブロックに設定 */
  font-size: 1rem; /* フォントサイズを設定 */
  cursor: pointer; /* カーソルをポインターにする */
}

.btn-custom:hover {
  background-color: #8F7C68; /* ホバー時の背景色を設定 */
}
